/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

:root {
	--basic-black: #000000;
	--basic-light-black: #1D2739;
	--basic-white: #FFFFFF;
	--basic-red: #EE3643;
	--basic-red-dark: #BA2732;
	--basic-green: #63A63E;
	--basic-grey: #32425C;
	--basic-grey-dark: #293449;
	--basic-grey-light: #F9F5F0;
	--basic-extra-grey: #A9A9A9;
	--basic-extra-grey-opacity: rgba(133, 12, 12, 0.3);
	--basic-background: #F2F2F2;
	--basic-background-dark: #F1F5F7;
	--special-yellow: #FFBF47;
	--special-yellow-dark:#FFC047;
	--special-yellow-light: #FFD180;
	--special-blue: #3BBCE3;
	--special-purple: #DC91D8;
	--special-green: #5FBB2D;
	--special-green-light: #8ED78F;
	--special-dark-green: #518534;
	--special-light: #F3F7F9;
	--special-light-filter: #F7F3EC;
	--special-grey-light: #C5C5C5;
	--special-grey-light-opacity: rgba(197, 197, 197, 0.3);
	--special-grey-dark: #161D29;
	--special-grey: #3D546F;
	--special-grey-home:#C1C6CE;
	--special-grey-page: #E5E5E5;
	--special-black-light: #444444;
	--special-green-range: #00CA74;
	--special-grey-range: #D7DCDE;
	--special-grey-card: #EAEAEA;
	--special-red-dark: #B52933;
	--special-dark-social: #212A3A;
	--special-grey-icon: rgba(255, 255, 255, 0.3);
	--special-grey-dark-icon: rgba(255, 255, 255, 0.5);
	--special-green-buy: #367315;
	--special-black: rgba(0, 0, 0, 0.15);
	--special-black-opacity: rgba(0, 0, 0, 0.3);
	--special-modal-grey: #F4F4F4;
	--special--border-grey: #405069;

}

/* Global */
*, *::before, *::after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	min-width: 960px;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: var(--basic-black);
	background-color: var(--basic-white);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.page {
	height: 100%;
}

.page-body {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
  -ms-grid-rows: min-content 1fr min-content;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  -ms-flex-line-pack: start;
      align-content: start;
}

.container {
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}

.title {
	margin: 0;
	padding: 0;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
}

.title--grey {
	color: var(--basic-grey);
}

.title-2 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-size: 36px;
	line-height: 24px;
	text-transform: uppercase;
	color: var(--basic-grey);
}

.title-3 {
	margin: 0;
	padding: 0;
	margin-bottom: 11px;
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: bold;
	font-size: 17px;
	line-height: 30px;
	text-transform: uppercase;
}

.btn {
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	color: var(--basic-white);
	text-transform: uppercase;
	background-color: var(--basic-red);
	border: none;
	padding: 10px;
}

.btn--width-192 {
	min-width: 192px;
}

.btn-2 {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	background-color: var(--basic-white);
	border: 1px solid var(--special-grey-page);
	color: var(--basic-black);
	padding: 10px 79px 10px 78px;
	vertical-align: middle;
}

.btn:active {
	background-color: var(--basic-red-dark);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */
/* Header-top */
.header {
	padding-bottom: 64px;

	background-color: var(--basic-background-dark);
}

.header__top .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 42px;
}

.header__top {
	background-color: var(--basic-grey);
	font-size: 18px;
	color: var(--basic-white);
}

.logo {
	display: inline-block;
	vertical-align: middle;
	width: 220px;
	height: 100%;
	
	text-align: center;

	background-color: var(--basic-red);
	-webkit-box-shadow: 0 5px 0 var(--special-red-dark);
	        box-shadow: 0 5px 0 var(--special-red-dark);
}

.header__top .logo {
	padding-top: 13px;
}

.logo svg {
	fill: #fff;
	fill-rule: evenodd;
}

.logo:active {
	background-color: var(--basic-red-dark);
}

.search {
	height: 100%;
	position: relative;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}

.search svg {
	fill: var(--special-grey-icon);
	position: absolute;
	top: 50%;
	margin-top: -8px;
	left: 17px;
}

.search__input {
	height: 100%;
	background-color: var(--basic-grey);
	border: none;
	padding-left: 42px;
	font-size: 18px;
	line-height: 24px;
}

.search__input::-webkit-input-placeholder {
	font-size: 18px;
	color: var(--basic-white);
}

.search__input::-moz-placeholder {
	font-size: 18px;
	color: var(--basic-white);
}

.search__input:-ms-input-placeholder {
	font-size: 18px;
	color: var(--basic-white);
}

.search__input::-ms-input-placeholder {
	font-size: 18px;
	color: var(--basic-white);
}

.search__input::placeholder {
	font-size: 18px;
	color: var(--basic-white);
}

.search:hover svg {
	fill: var(--basic-white);
}

.search__input:focus{
	background-color: var(--basic-white);
	color: var(--basic-black);
	border: none;
	outline: none;
}

.search__input:focus + svg {
	fill: var(--basic-red);
}

.search__input:focus::-webkit-input-placeholder {
	color: var(--basic-black);
}

.search__input:focus::-moz-placeholder {
	color: var(--basic-black);
}

.search__input:focus:-ms-input-placeholder {
	color: var(--basic-black);
}

.search__input:focus::-ms-input-placeholder {
	color: var(--basic-black);
}

.search__input:focus::placeholder {
	color: var(--basic-black);
}

.header__top-btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 0 27px;

 	font: inherit;
 	color: var(--basic-white);
}

.header__top-btn svg {
	margin-right: 7px;
	fill: var(--special-grey-icon);
}

.header__top-btn:hover svg {
	fill: var(--basic-white);
}

.header__top-btn:active {
	color: var(--special-grey-dark-icon);
	background-color: var(--special-grey-dark);
}

.header__top-btn:active svg {
	fill: var(--special-grey-icon);
}

.header__top-btn--first {
	padding-right: 39px;
	margin-left: 0px;
}

.header__top-btn--red {
	background-color: var(--basic-red);
	padding-left: 12px;
	padding-right: 24px;
}

.header__top-btn--green {
	display: block;
	padding: 10px 17px;
	padding-left: 17px;
	background-color: var(--basic-green);
}

.header__top-btn--green:hover {
	background-color: var(--special-green);
}

/* Header-middle */
.header__middle {
	background-color: var(--special-light);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-top: 44px;
	padding-bottom: 40px;
}

.header__desc {
	width: 33.3333%;
	margin: 0;
	padding: 0;
	padding-left: 30px;
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	color: var(--basic-red);
}

.header__contacts {    
	width: 33.3333%;
	padding-top: 2px;
	padding-left: 5px;
}

.header__contacts-link {
	position: relative;
	min-width: 270px;
	padding: 4px 25px 5px 58px;
	text-align: center;
	font-size: 21px;
	line-height: 30px;
	font-weight: 700;
	color: var(--basic-red);
	border: 3px solid var(--basic-white);
	display: inline-block;
	vertical-align: middle;
}

.header__contacts-link::before {
	content: "";
	display: block;
	width: 19px;
	height: 19px;
	background: var(--basic-grey-light) url(../img/header/icon-phone.svg) no-repeat;
	position: absolute;
	top: 50%;
	margin-top: -10px;
  left: 39px;
}

.header__contacts-adr {
	padding-top: 3px;
	padding-left: 11px;
	font-size: 14px;
	font-style: normal;
}

.header__box-reg-btn {
	width: 33.3333%;
	padding-top: 2px;
	padding-left: 32px;
}

.reg-btn {
	min-width: 150px;
	font-size: 21px;
	line-height: 21px;
	color: var(--basic-black);
	background-color: var(--basic-white);
	position: relative;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}
.reg-btn:nth-child(1) {
	min-width: 121px;
	padding: 12px 27px 12px 45px;
	margin-right: 7px;
}
.reg-btn:nth-child(2) {
	padding: 12px 24px;
}

.reg-btn:hover {
	color: var(--basic-red);
}

.reg-btn svg {
	fill: var(--special-grey-light);
	position: absolute;
	top: 50%;
	margin-top: -8px;
	left: 18px;
}

.reg-btn:hover svg {
 fill: var(--basic-grey);
}

.reg-btn:active,
.reg-btn:active svg {
	color: var(--special-grey-light);
	fill: var(--special-grey-light);
}

.box-accaunt {
	min-width: 300px;
	
	margin-left: 13px;
}

.box-accaunt__top {
	background-color: var(--basic-white);
	padding-top: 14px;
	padding-left: 59px;
	padding-bottom: 10px;
}

.box-accaunt__top svg {
	fill: var(--special-grey-light);
}

.box-accaunt__top svg:hover {
	fill: var(--special-grey);
}

.box-accaunt__profile:hover svg {
	fill: var(--special-grey);
}

.box-accaunt__top:active svg {
	fill: var(--special-grey-light);
}

.box-accaunt__profile {
	color: inherit;
	font-size: 21px;
	line-height: 21px;
	position: relative;
}

.box-accaunt__profile:active {
	color: var(--special-grey-light);
}

.box-accaunt__profile svg {
	position: absolute;
	top: 50%;
	margin-top: -9px;
	right: 207px;
}

.box-accaunt__logout {
	position: relative;
}

.box-accaunt__logout svg {
	position: absolute;
	top: 50%;
	margin-top: -10px;
	left: 20px;
}

.box-accaunt__bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-left: 19px;
	padding-right: 45px;
	padding-top: 5px;
}

.box-accaunt__link {
	color: var(--basic-grey);
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	display: block;
	padding-left: 27px;
	position: relative;
}

.box-accaunt__link:nth-child(2) {
	padding-left: 32px;
}

.box-accaunt__link:hover {
	color: var(--basic-red);
}

.box-accaunt__link:active {
	color: var(--special-grey-light);
}

.box-accaunt__link:first-child::after {
	content: "";
	display: block;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: var(--basic-grey);
	position: absolute;
	top: 50%;
	margin-top: -2px;
	left: 115px;
}

/* Header-bottom */

.menu-header {
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	padding-left: 24px;
	padding-right: 18px;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	list-style: none;
	background-color: var(--basic-grey);
	-webkit-box-shadow: 0 5px 0 var(--basic-grey-dark);
	        box-shadow: 0 5px 0 var(--basic-grey-dark);
}

.menu-header__link {
	font-size: 18px;
	color: var(--basic-white);
	padding: 17px 26px 14px 26px;
	display: inline-block;
	vertical-align: middle;
}

.menu-header__link:hover {
	background-color: var(--basic-grey-dark);
}

.menu-header__link:active {
	opacity: 0.5;
	background-color: var(--basic-light-black);
}

/* Catalog */ 
.section {
	padding-bottom: 70px;
}

.section--padding-60 {
	padding: 60px 0;
}


.section--padding-53 {
	padding-bottom: 53px;
}

.catalog-list {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 20px 1fr 20px 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	                        -ms-grid-rows: auto 20px auto 20px auto;
	                            grid-template-areas: 
		"y b p"
		"sl sl g"
		"sl sl yd";
	gap: 20px;
}

.catalog-list__item {
	padding: 20px 23px;
}

.catalog {
	overflow: hidden;
}

.catalog.new::after {
	top: 4px;
	left: 219px;
}

.catalog-list__item:nth-child(1) {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	background: var(--special-yellow) url("../img/catalog/icon-1.svg") no-repeat 213px 31px;
	grid-area: y;
	position: relative;
}
.catalog-list__item:nth-child(2) {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
	background: var(--special-blue) url("../img/catalog/icon-2.svg") no-repeat 194px 34px;
	grid-area: b;
}
.catalog-list__item:nth-child(3) {
	-ms-grid-row: 1;
	-ms-grid-column: 5;
	background: var(--special-purple) url("../img/catalog/icon-3.svg") no-repeat 191px 31px;
	grid-area: p;
}
.catalog-list__item:nth-child(4) {
	-ms-grid-row: 3;
	-ms-grid-column: 5;
	background: var(--special-green-light) url("../img/catalog/icon-4.svg") no-repeat 195px 26px;
	grid-area: g;
	padding-bottom: 23px;
}
.catalog-list__item:nth-child(5) {
	-ms-grid-row: 5;
	-ms-grid-column: 5;
	background: var(--special-yellow-dark) url("../img/catalog/icon-5.svg") no-repeat 191px 32px;
	grid-area: yd;
}

.catalog__title {
	margin: 0;
	padding: 0;
	padding-bottom: 15px;
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	color: var(--basic-white);
}

.catalog-list__item:nth-child(4) .catalog__title{
	padding-bottom: 12px;
}

.catalog-list__item:nth-child(5) .catalog__title {
	padding-bottom: 14px;
}

.catalog__btn {
	display: inline-block;
	vertical-align: middle;
	padding-top: 9px;
	min-width: 135px;
	height: 38px;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: var(--basic-white);
	background-color: var(--special-grey-icon);
}

.catalog__btn:hover {
	background-color: var(--special-grey-light-opacity);
}

.catalog__btn:active {
	background-color: var(--basic-extra-grey-opacity);
}

.catalog-list__item--slider {
	padding: 0;
	-ms-grid-row: 3;
	-ms-grid-row-span: 3;
	-ms-grid-column: 1;
	-ms-grid-column-span: 3;
	background-color: var(--basic-extra-grey);
	grid-area: sl;
}

.box-arrow {
	position: absolute;
	display: block;
	width: 22px;
	height: 40px;
	top: 122px;
	z-index: 1000;
	border: none;
}

.box-arrow--prev {
	background: url(../img/catalog/icon-left.svg) no-repeat;
	left: 25px;
}

.box-arrow--next {
	background:  url(../img/catalog/icon-right.svg) no-repeat;
	right: 20px;
}

.slider {
	position: relative;
}

.slider__list {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}

.slider__item {
	position: relative;
}

.slide {
	display: none;
}

.slide-current {
	display: block;
}

.slider__header {
	background-color: var(--special-black-opacity);
	padding: 24px 25px 15px 25px;
	margin-bottom: 97px;
	position: relative;
	z-index: 1000;
}

.slider__title {
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
	font-weight: 700;
	font-size: 36px;
	line-height: 36px;
	color: var(--basic-white);
	text-transform: uppercase;
	z-index: inherit;
}

.slider__subtitle {
	margin: 0;
	padding: 0;
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-white);
}

.slider__img {
	position: absolute;
	top: 0;
	left: 0;
	width: 620px;
	height: 266px;
}

.slider__btn {
	position: relative;
	z-index: 1000;
	margin-left: 25px;
	padding: 12px 46px 8px 46px;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}

.slider-controls {
	position: absolute;
  bottom: 35px;
  left: 295px;
	z-index: 20;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 30px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.slider-controls button {
  padding: 0;
  width: 10px;
  height: 10px;
	background-color: var(--basic-white);
	border: 2px solid var(--basic-white);
  border-radius: 50%;
	cursor: pointer;
	position: relative;
}

.slider-controls .current {
	background-color: var(--basic-red);
}

/* Products-card */

.title-wrap--grey {
	background-color: var(--basic-grey-light);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 21px;
	padding: 25px 14px 25px 28px;
}

.products-card {
	font-family: "PT Sans", "Arial", sans-serif;
	margin: 0;
	padding: 0;
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 0 -10px;
}

.products-card__item {
	padding: 0 10px;
	padding-bottom: 17px;
}

.products-card__item--col-4 {
	width: 25%;
}

.products-card__item--col-3 {
	width: 33.3333%;
}

.card {
	border: 1px solid var(--special-grey-card);
	width: 100%;
  min-height: 319px;
	position: relative;
	padding: 10px;
	overflow: hidden;
}

.new::after {
	content: "NEW";
	display: block;
	position: absolute;
	
	-webkit-transform: rotate(45deg);
	
	    -ms-transform: rotate(45deg);
	
	        transform: rotate(45deg);
	width: 106px;
	height: 30px;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	background-color: var(--basic-red);
	text-align: center;
	color: var(--basic-white);
	padding-top: 7px;
	padding-left: 13px;
}

.card.new::after {
	top: 4px;
	left: 137px;
}
 
.card__wrap-img {
	height: 150px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 20px;
}

.card__img{
	max-width: 100%;
	max-height: 100%;
}

.card__box-btn {
	display: none;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	font-family: "Cuprum", "Arial", sans-serif;
	text-transform: uppercase;
	position: absolute;
	top: 38px;
	left: 40px;
	width: 135px;
	margin-bottom: -85px;
}

.card__btn-buy {
	position: relative;
	display: block;
	color: var(--basic-white);
	background-color: var(--basic-green);
	-webkit-box-shadow: 0 3px 0 var(--special-green-buy);
	        box-shadow: 0 3px 0 var(--special-green-buy);
	padding: 10px 20px 8px 34px;
	margin-bottom: 13px;
	border-radius: 2px;
}

.card__btn-buy:hover {
	background-color: var(--special-green);
}

.card__btn-buy:active {
	background-color: var(--special-dark-green);
}

.card__btn-bookmarks {
	display: block;
	color: var(--basic-grey);
	padding: 9px 10px 7px;
	border-radius: 2px;
	border: 3px solid var(--basic-green);
}


.card__btn-bookmarks:hover {
	border: 3px solid var(--basic-grey);
}

.card__btn-bookmarks:active {
	border: 3px solid var(--basic-grey);
	opacity: 0.5;
}

.card__btn-buy::before {
	content: "";
	background: url(../img/products-card/icon-cart.svg) no-repeat;
	display: block;
	position: absolute;
	width: 15px;
	height: 15px;
	top: 50%;
	margin-top: -8px;
	left: 30px;
	opacity: 0.3;
}

.card__title {
	margin: 0;
	padding: 0;
	font-family: inherit;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	text-align: center;
}

.card__link {
	color: var(--basic-black);
}

.card__old-price,
.card__new-price {
	margin: 0;
	padding: 0;
	font-family: inherit;
	font-weight: 700;
	font-size: 17px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
}

.card__old-price {
	-webkit-text-decoration-line: line-through;
	        text-decoration-line: line-through;
	color: var(--basic-extra-grey);
	padding-top: 8px;
	padding-bottom: 12px;
}

.card__new-price {
	color: var(--basic-white);
	background: url("../img/products-card/red-button.svg") no-repeat center;
	display: block;
	width: 141px;
	height: 38px;
	margin-left: 35px;
	padding-right: 9px;
	padding-top: 10px;
}

.card:hover {
	-webkit-box-shadow: 0 4px 15px var(--special-black);
	        box-shadow: 0 4px 15px var(--special-black);
}

.card:hover .card__box-btn {
	display: block;
}

.card:hover .card__img {
	display: none;
}

/* Vendors */
.title-wrap__btn {
	margin-right: 5px;
}

.vendors {
	list-style: none;
	margin: 0;
	padding: 0;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	-ms-grid-rows: 145px;
	grid-template-rows: 145px 145px;
	gap: 20px;
}

.vendors__link {
	display: inline-block;
	vertical-align: baseline;
}

.vendors__img {
	display: block;
}

.vendors > *:nth-child(1) {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}

.vendors > *:nth-child(2) {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
}

.vendors > *:nth-child(3) {
	-ms-grid-row: 1;
	-ms-grid-column: 5;
}

.vendors > *:nth-child(4) {
	-ms-grid-row: 1;
	-ms-grid-column: 7;
}

.vendors__img:hover {
	-webkit-box-shadow: 0 4px 20px var(--special-black);
	        box-shadow: 0 4px 20px var(--special-black);
}

.vendors__img:active {
	opacity: 0.5;
}

/* Services */
.section--blue {
	background-color: var(--basic-background-dark);
	padding-bottom: 0;
}

.section--height {
	min-height: 523px;
	padding-bottom: 63px;
}

.services .title {
	padding-top: 65px;
}

.services__text {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", "Arial", sans-serif;
	width: 396px;
	padding-top: 24px;
	padding-bottom: 69px;
}

.tab-wrap {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 240px 80px 1fr;
	grid-template-columns: 240px 1fr;
	gap: 80px;
}

.tab-btn-list {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	position: relative;
}

.tab-btn-list::after {
	content: "";
	background: url("../img/services/object.png") no-repeat;
	position: absolute;
	display: block;
	width: 10px;
	height: 279px;
	top: -35px;
	right: 0;
}

.tab-btn-list__btn {
	font-weight: 700;
	font-size: 21px;
	line-height: 30px;
	background-color: var(--basic-grey);
	color: var(--basic-white);
	display: inline-block;
	vertical-align: middle;
	padding: 14px 23px 16px;
	border: none;
	border-top: 1px solid var(--special--border-grey);
	border-bottom: 1px solid var(--basic-grey-dark);
	min-width: 240px;
	text-align: left;
}

.tab-btn-list__item:first-child button {
	border-top: none;
	padding-top: 16px;
	padding-bottom: 16px;
}

.tab-btn-list__btn:hover {
	background-color: var(--basic-grey-dark);
	color: var(--basic-white);
}

.tab-btn-list__btn--active,
.tab-btn-list__btn--active:hover {
	background-color: var(--basic-white);
	color: var(--basic-grey);
}

.tab-content-list{
	margin: 0;
	padding: 0;
	list-style: none;
}

.tab-content {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 315px 235px;
	grid-template-columns: 315px 235px;
	position: relative;
}

.tab-content-list__item {
	display: none;
}

.tab-content-list__item--active {
	display: block;
}

.tab-content__desk .title {
	color: var(--basic-grey);
	padding-top: 0px;
	padding-bottom: 29px;
}

.tab-content__desk .title-2 {
	padding-bottom: 35px;
}

.tab-content__text {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", "Arial", sans-serif;
	padding-bottom: 34px;
}

.tab-content__desk .btn {
	padding: 10px 43px 12px 46px;
}

.tab-content__wrap-img {
	width: 470px;
	height: 285px;
	position: absolute;	
}

.tab-content__wrap-img--delivery {
	right: 0px;
	top: 19px;
}

.tab-content__wrap-img--guarantee {
	top: 0px;
  left: 238px;
}

.tab-content__wrap-img--credit {
	right: -16px;
	top: 1px;
}

/* About-company */
.section--total {
	padding-top: 70px;
}

.section--total .container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	position: relative;
}

.map-big {
	display: block;
}

.about-us {
	width: 478px;
}

.about-us__text {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
	padding-bottom: 2px;
	padding-top: 23px;
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 18px;
	line-height: 24px;
	position: relative;
	padding-left: 37px;
	margin-bottom: 7px;
}

.list__item {
	padding-bottom: 12px;
}

.list__item:nth-child(1)::before,
.list__item:nth-child(2)::before,
.list__item:nth-child(3)::before {
	content: "";
	display: block;
	width: 25px;
	height: 2px;
	background-color: var(--basic-red);
	position: absolute;
	left: 0px;
}

.list__item:nth-child(1)::before {
	top: 14px;
}

.list__item:nth-child(2)::before {
	top: 48px;
}

.list__item:nth-child(3)::before {
	top: 82px;
}

.about-us .btn {
	padding: 11px 41px;
}

.contacts {
	width: 301px;
}

.contacts__text {
	margin: 0;
	padding: 0;
	padding-bottom: 32px;
	padding-top: 23px;
	font-family: "PT Sans", "Arial", sans-serif;
}

.map {
	padding-bottom: 18px;
}

.contacts .btn {
	padding-left: 63px;
	padding-right: 61px;
	margin-right: 0;
}

/* Write-us */
.write-us {
	display: none;
}

/* Breadcrumbs */
.breadcrumbs {
	margin: 0;
	padding: 0;
	list-style: none;
	padding: 22px 4px 19px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.breadcrumbs__icon {
	fill: var(--special-grey-home);
	display: block;
	padding-left: 0;
	margin-left: -5px;
	margin-top: 1px;
}

.breadcrumbs li {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	margin-right: 42px;
	position: relative;
}

.breadcrumbs li:nth-child(1)::after {
	content: "";
	background: url("../img/breadcrumbs/icon-right-small.svg") no-repeat;
	display: block;
	width: 8px;
	height: 12px;
	position: absolute;
	top: 50%;
	margin-top: -6px;
	left: 25px;
}

.breadcrumbs li:nth-child(2)::after {
	content: "";
	background: url("../img/breadcrumbs/icon-right-small.svg") no-repeat;
	display: block;
	width: 8px;
	height: 12px;
	position: absolute;
	top: 50%;
	margin-top: -6px;
	left: 67px;
}

.breadcrumbs li:nth-child(3)::after {
	content: "";
	background: url("../img/breadcrumbs/icon-right-small.svg") no-repeat;
	display: block;
	width: 8px;
	height: 12px;
	position: absolute;
	top: 50%;
	margin-top: -6px;
	left: 96px;
}

.breadcrumbs li:nth-child(2) {
	margin-right: 40px;
}

.breadcrumbs li:nth-child(3) {
	margin-right: 42px;
}

.breadcrumbs a {
	color: inherit;
}

/* Title-wrap--blue */
.title-wrap--blue {
	background-color: var(--basic-background-dark);
	padding-left: 30px;
	padding-top: 30px;
	padding-bottom: 29px;
	margin-bottom: 20px;
}

/* Filter */
.catalog-box {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 220px 20px 1fr;
	grid-template-columns: 220px 1fr;
	gap: 20px;
	padding-bottom: 28px;
}

.catalog-box__left {
	width: 220px;
}

.catalog-box__right {
	-ms-grid-column: 2;
	    grid-column-start: 2;
	-ms-grid-column-span: 3;
	grid-column-end: 5;
}

.heading {
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	font-family: "PT Sans", "Arial", sans-serif;
	text-transform: uppercase;
	background-color: var(--special-light-filter);
	padding-left: 19px;
	padding-top: 10px;
	padding-bottom: 9px;
	border-radius: 4px;
}

.filter {
	margin-top: 15px;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

.filter__item {
  margin: 0;
  padding: 0;
	border: none;
	border-bottom: 1px solid var(--special-grey-card);
	padding-bottom: 26px;
	margin-bottom: 15px;
}


.filter__item ul {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 6px;
}

.range-filter {
	margin: 0;
	padding: 0;
  width: 220px;
}

.range-controls {
	position: relative;
	height: 80px;
	margin-bottom: 10px;
	padding-top: 40px;
	padding-right: 20px;
  padding-left: 20px;
  background-color: var(--special-light-filter);
	border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--special-grey-range);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background-color: var(--special-green-range);
}

.range-controls .toggle {
	width: 20px;
	height: 23px;
	display: block;
	background: var(--basic-grey-light) url(../img/catalog-box-left/filter-button.svg) no-repeat center;
	position: absolute;
	top: 31px;
	left: 0;
  cursor: pointer; 
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
	font-size: 17px;
	line-height: 18px;
}

.price-controls input {
  width: 95px;
	padding: 9px;
	padding-left: 10px;
  text-align: center;
  color: var(--basic-black);
  border: none;
  border-radius: 4px;
  background-color: var(--special-light-filter);
	font-size: 17px;
	line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Catalog-box__left */
.filter-option {
  margin-bottom: 20px;
  padding-left: 36px;
}

.filter__item:nth-child(2) {
	padding-bottom: 8px;
	margin-bottom: 17px;
}

.filter__item:nth-child(3) {
	border: none;
	padding-bottom: 0;
	margin-bottom: 18px;
}

.filter__item:nth-child(3) ul {
	padding-top: 9px;
}

.checkbox-wrap label,
.radio-wrap label {
	font-family: PT Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 19px;
	text-transform: uppercase;
	position: relative;
	display: block;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.filter-input-checkbox + label::before,
.filter-input-checkbox:hover + label::before{
	content: "";
	position: absolute;
	left: -36px;
	top: -2px;
	display: block;
	width: 23px;
	height: 23px;
	background: url("../img/catalog-box-left/checkbox-off-dark.svg") no-repeat;
	opacity: 0.8;
}

.filter-input-checkbox:hover + label::before {
	opacity: 1;
}

.filter-input-checkbox:disabled + label::before {
	opacity: 0.3;
}

.filter-input-checkbox:checked + label::after,
.filter-input-checkbox:checked:hover + label::after {
	content: "";
	position: absolute;
	top: -2px;
	left: -36px;
	display: block;
	width: 27px;
	height: 23px;
	background: url("../img/catalog-box-left/checkbox-on-dark.svg") no-repeat;
	opacity: 0.7;
}

.filter-input-checkbox:checked:hover + label::after {
	opacity: 1;
}

.filter-input-checkbox:checked:disabled + label::after {
	opacity: 0.3;
}

.filter-input-radio:checked + label::before,
.filter-input-radio:checked:hover + label::before {
	content: "";
	position: absolute;
	left: -36px;
	top: -2px;
	display: block;
	width: 25px;
	height: 25px;
	background: url("../img/catalog-box-left/radio-on-dark.svg") no-repeat;
	opacity: 0.7;
}

.filter-input-radio:checked:hover + label::before {
	opacity: 1;
}

.filter-input-radio:disabled + label::before {
	opacity: 0.3;
}


.filter-input-radio + label::after,
.filter-input-radio:hover + label::after {
	content: "";
	position: absolute;
	top: -2px;
	left: -36px;
	display: block;
	width: 25px;
	height: 25px;
	background: url("../img/catalog-box-left/radio-off-dark.svg") no-repeat;
	opacity: 0.7;
}

.filter-input-radio:hover + label::after {
	opacity: 1;
}

.filter-input-radio:disabled + label::after {
	opacity: 0.3;
}

/* Catalog-box__right */
.sorting {
	background-color: var(--special-light-filter);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-right: 15px;
	margin-bottom: 28px;
	border-radius: 4px;
}

.sorting .heading {
	margin-right: auto;
}

.sorting__list {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-width: 380px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-right: 23px;
}

.sorting__list li {
	margin-left: 25px;
}

.sorting__list a {
	color: var(--special-black-opacity);
	border-bottom: 1px dotted var(--basic-red);
}

.sorting__list a:hover {
	color: var(--basic-black);
	border-bottom: 1px solid var(--basic-red);
}

.sorting__list a:active,
.sorting__item--active a{
	color: var(--basic-red);
	border: none;
}

.sorting-icon {
	fill: var(--special-grey-light);
	margin-left: 22px;
}

.sorting-icon--active {
	fill: var(--basic-red);
}

.sorting-icon:hover {
	fill: var(--basic-black);
}

.sorting-icon:active {
	fill: var(--basic-red);
}

/* Add-to-basket */
.add-to-basket {
	display: none;
}

/* Pagination */
.pagination {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding: 30px 0;
}

.pagination__link {
	border-radius: 2px;
	display: block;
	padding: 9px 15px;
	margin-right: 9px;
}

.pagination__link:not(:last-child) {
	margin-right: 9px;
}

.pagination__link:last-child {
	padding: 9px 32px 10px 30px;
}

.pagination__link:hover {
	border: 1px solid var(--special-grey-light);
}

.pagination__link:active {
	border: 1px solid var(--basic-red);
}

.pagination__link--active {
	background-color: var(--basic-red);
	color: var(--basic-white);
}

/* About-product */
.about-product {
	padding-top: 65px;
	padding-bottom: 65px;
}

.about-product__text {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
	padding-top: 26px;
	padding-bottom: 4px;
}


/* Footer */
/* Footer-top */
.footer__top {
	background-color: var(--basic-grey);
	font-size: 18px;
	line-height: 24px;
	padding-bottom: 55px;
}

.footer__top-1 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.footer__top .logo {
	height: 63px;
	padding-top: 20px;
	margin-bottom: 27px;
}

.menu-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer__top-1 .menu-footer {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.menu-footer__item {
	margin-left: 59px;
}

.footer__top-1 .menu-footer__item {
	padding-top: 7px;
}

.footer__top-2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.footer__top-2 .menu-footer__item {
	padding-top: 5px;
}

.menu-footer__link {
	color: var(--basic-background-dark);
}

.menu-footer__link:hover {
	border-bottom: 1px solid var(--basic-background-dark);
}

.footer__address {
	width: 330px;
	margin: 0;
	padding: 0;
	padding-left: 3px;
	font-style: normal;
	color: var(--special-light);
	}

.footer__contacts-link {
	color: var(--special-light);
}

.menu-footer__link--yellow {
	color: var(--special-yellow-light);
}

.menu-footer__link--yellow:hover {
	border-bottom: 1px solid var(--special-yellow-light);
}

.menu-footer__link:active,
.menu-footer__link--yellow:active  {
	opacity: 0.5;
	border: none;
}

/* Footer-bottom */

.footer__bottom {
	background-color: var(--basic-grey-dark);
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-white);
	padding: 35px 0 30px;
}

.footer__bottom .container {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
}

.copyright {
	width: 227px;
}

.copyright p {
	margin: 0;
	padding: 0;
}

.social {
	text-align: center;
	margin: 0;
	padding: 0;
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-right: 25px;
}

.social__link {
	fill: var(--basic-white);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	
	background-color: var(--special-dark-social);
	border-radius: 50%;
	width: 42px;
	height: 40px;
}

.social__item {
	margin-right: 3px;
}

.social__link:hover,
.social__link:active{
	background-color: var(--basic-red);
}

.link {
	color: var(--special-yellow-light);
}

.link:hover {
	border-bottom: 1px solid var(--special-yellow-light);
}

.link:active {
	color: var(--basic-red);
	border: none;
}

.footer__contacts {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-right: 13px;
}

.footer__contacts p {
	margin: 0;
	padding: 0;
	padding-left: 15px;
}

/* Modal */

.modal {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	z-index: 1000;
}

.modal__inner {
	border-top: 7px solid var(--basic-red);
	-webkit-box-shadow: 0 0 10px var(--special-black-opacity);
	        box-shadow: 0 0 10px var(--special-black-opacity);
	position: relative;
	background-color: var(--basic-white);
}

.modal__close {
	position: absolute;
	top: 14px;
	right: 10px;
	display: block;
  width: 22px;
	height: 22px;
	background: url("../img/contacts/icon-close.svg") no-repeat;
  border: 0;
	cursor: pointer;
	z-index: 2;
}

.modal-map {
	display: none;
}

.modal-map__inner img {
	display: block;
	width: 943px;
	height: 449px; 
}

.modal-map__inner iframe {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	border: none;	
}

.modal-write-us {
	display: none;
}

.modal-write-us__inner {
	width: 620px;
}

.modal-form__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding: 70px;
	padding-top: 40px;
	padding-bottom: 19px;
}

.modal-form__box {
	font-size: 18px;
	line-height: 24px;
	padding: 0 10px 13px;
	width: 50%;
}

.modal-form__box:last-child {
	width: 100%;
}

.modal-form__box input,
.modal-form__box textarea {
	width: 100%;
}

.modal-form__box input,
.modal-form__box textarea{
	border: 2px solid var(--special-grey-light);
	padding: 7px 9px;
	font-size: 13px;
	line-height: 24px;
	font-family: "PT Sans", "Arial", sans-serif;
}

.modal-form__box textarea {
	height: 114px;
}

.modal-form__box input::-webkit-input-placeholder, .modal-form__box textarea::-webkit-input-placeholder {
	font-size: 13px;
	line-height: 24px;
	font-family: "PT Sans", "Arial", sans-serif;
	color: var(--basic-extra-grey);
}

.modal-form__box input::-moz-placeholder, 
.modal-form__box textarea::-moz-placeholder {
	font-size: 13px;
	line-height: 24px;
	font-family: "PT Sans", "Arial", sans-serif;
	color: var(--basic-extra-grey);
}

.modal-form__box input:-ms-input-placeholder, 
.modal-form__box textarea:-ms-input-placeholder {
	font-size: 13px;
	line-height: 24px;
	font-family: "PT Sans", "Arial", sans-serif;
	color: var(--basic-extra-grey);
}

.modal-form__box input::-ms-input-placeholder, 
.modal-form__box textarea::-ms-input-placeholder {
	font-size: 13px;
	line-height: 24px;
	font-family: "PT Sans", "Arial", sans-serif;
	color: var(--basic-extra-grey);
}

.modal-form__box input::-webkit-input-placeholder, .modal-form__box textarea::-webkit-input-placeholder {
	font-size: 13px;
	line-height: 24px;
	font-family: "PT Sans", "Arial", sans-serif;
	color: var(--basic-extra-grey);
}

.modal-form__box input::-moz-placeholder, .modal-form__box textarea::-moz-placeholder {
	font-size: 13px;
	line-height: 24px;
	font-family: "PT Sans", "Arial", sans-serif;
	color: var(--basic-extra-grey);
}

.modal-form__box input:-ms-input-placeholder, .modal-form__box textarea:-ms-input-placeholder {
	font-size: 13px;
	line-height: 24px;
	font-family: "PT Sans", "Arial", sans-serif;
	color: var(--basic-extra-grey);
}

.modal-form__box input::-ms-input-placeholder, .modal-form__box textarea::-ms-input-placeholder {
	font-size: 13px;
	line-height: 24px;
	font-family: "PT Sans", "Arial", sans-serif;
	color: var(--basic-extra-grey);
}

.modal-form__box input::placeholder,
.modal-form__box textarea::placeholder {
	font-size: 13px;
	line-height: 24px;
	font-family: "PT Sans", "Arial", sans-serif;
	color: var(--basic-extra-grey);
}

.modal-form__box label {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 10px;
}

.modal__footer {
	padding: 36px 80px;
	background-color: var(--special-modal-grey);
}

.modal-form__footer .btn {
	width: 100%;
}

.modal-basket {
	display: none;
}

.modal-basket__inner {
	width: 620px;
}

.modal-basket__top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top: 50px;
	margin-right: 97px;
	margin-bottom: 49px;
}

.modal-basket__top-text {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
}

.modal-basket__top::before {
	content: "";
	background: url("../img/basket/icon-mark.svg") no-repeat;
	display: block;
	width: 66px;
	height: 66px;
	margin-right: 30px;
}

.modal-basket__footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.modal-basket__footer-btn {
	margin: 0;
	min-width: 192px;
}

.modal-basket__footer-btn--white {
	background-color: var(--basic-white);
	color: var(--basic-black);
	margin-left: 10px;
}

.modal-show {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}